# Visual Studio
.vs/
Debug/
Release/
x64/
*.exe
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# CMake
build/
CMakeCache.txt
CMakeFiles/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db